{{template "header" .}}

{{template "navigation" .}}

<div class="container">
  <h1>{{if .Tid}}修改{{else}}添加{{end}}文章</h1>
  <form action="/topic" method="post" enctype="multipart/form-data">
    <input type="hidden" name="tid" value="{{.Tid}}">
	
  	<div class="form-group">
  		<label>文章标题：</label>
  		<input type="text" name="title" class="form-control" value="{{.Topic.Title}}">
  	</div>
	
	<div class="form-group">
     <select name="catid">
       <label>文章分类：</label>
       <option value="">选择分类</option>
       {{range .Categorys}}
        <option value="{{.Id}}" {{if $.Tid}} {{if eq .Id $.Topic.Catid}}selected="selected"{{end}} {{end}}>{{.Title}}</option>
       {{end}}
     </select> 
    </div>
	
    <div class="form-group">
  		<label>文章内容：</label>
  		<textarea name="content" cols="30" rows="10" class="form-control">{{.Topic.Content}}</textarea>
  	</div>
	
	<div class="form-group">
  		<label>文章附件{{if .Topic.Attachment}}(<a href="/attachment/{{.Topic.Attachment}}">{{.Topic.Attachment}}</a>){{end}}：</label>
  		<input type="file" name="attachment" class="form-control">
  	</div>
	
  	<button type="submit" class="btn btn-default">确定</button>
  </form>

</div>

{{template "footer" .}}